# Entornos y secretos locales
.venv/
*.env

# Artefactos generados por dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/profiles.yml

# Archivos locales de herramientas
.vscode/

# Temporales de scripts/03_desplegar_adf_cdc.sh
.tmp_despliegue/
