USE [master]
GO
/****** Objeto: Database [MessyOpsOLTP] Fecha de script: 14/09/2026 10:14:04 ******/
CREATE DATABASE [MessyOpsOLTP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MessyOpsOLTP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MessyOpsOLTP.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MessyOpsOLTP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MessyOpsOLTP_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MessyOpsOLTP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MessyOpsOLTP]
GO
/****** Objeto: Table [dbo].[customers] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [nvarchar](50) NOT NULL,
	[company_name] [nvarchar](50) NOT NULL,
	[customer_segment] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[region_type] [nvarchar](50) NOT NULL,
	[contact_email] [nvarchar](50) NOT NULL,
	[contact_phone] [nvarchar](50) NULL,
	[payment_term_days] [tinyint] NOT NULL,
	[credit_limit] [float] NOT NULL,
	[customer_since] [date] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[data_quality_log] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_quality_log](
	[issue_id] [nvarchar](50) NOT NULL,
	[table_name] [nvarchar](50) NOT NULL,
	[row_primary_key] [nvarchar](50) NOT NULL,
	[column_name] [nvarchar](50) NULL,
	[issue_type] [nvarchar](50) NOT NULL,
	[severity] [nvarchar](50) NOT NULL,
	[original_clean_value] [nvarchar](50) NOT NULL,
	[corrupted_value] [nvarchar](50) NULL,
	[is_auto_detectable] [bit] NOT NULL,
	[is_repair_suggested] [nvarchar](50) NOT NULL,
	[description] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[inventory_snapshots] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_snapshots](
	[inventory_snapshot_id] [nvarchar](50) NOT NULL,
	[snapshot_date] [datetime2](7) NOT NULL,
	[product_id] [nvarchar](50) NOT NULL,
	[warehouse_id] [nvarchar](50) NOT NULL,
	[quantity_on_hand] [int] NOT NULL,
	[quantity_on_order] [nvarchar](50) NOT NULL,
	[reorder_point] [int] NOT NULL,
	[is_stockout] [bit] NOT NULL,
	[inventory_value] [float] NOT NULL,
 CONSTRAINT [PK_inventory_snapshots] PRIMARY KEY CLUSTERED 
(
	[inventory_snapshot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[invoices] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[invoice_id] [nvarchar](50) NOT NULL,
	[sales_order_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[invoice_date] [date] NULL,
	[due_date] [date] NOT NULL,
	[payment_term_days] [tinyint] NOT NULL,
	[invoice_amount] [float] NOT NULL,
	[amount_paid] [float] NOT NULL,
	[balance_due] [float] NOT NULL,
	[invoice_status] [nvarchar](50) NOT NULL,
	[days_to_full_payment] [float] NULL,
	[late_payment] [bit] NOT NULL,
 CONSTRAINT [PK_invoices] PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[payments] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [nvarchar](50) NOT NULL,
	[invoice_id] [nvarchar](50) NOT NULL,
	[payment_date] [date] NOT NULL,
	[payment_amount] [float] NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[is_partial_payment] [bit] NOT NULL,
 CONSTRAINT [PK_payments] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[products] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [nvarchar](50) NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[subcategory] [nvarchar](50) NOT NULL,
	[primary_supplier_id] [nvarchar](50) NOT NULL,
	[unit_cost] [float] NOT NULL,
	[list_price] [float] NOT NULL,
	[gross_margin_pct] [float] NOT NULL,
	[unit_of_measure] [nvarchar](50) NOT NULL,
	[weight_kg] [float] NULL,
	[is_seasonal] [bit] NOT NULL,
	[product_launch_date] [date] NOT NULL,
	[is_discontinued] [bit] NOT NULL,
	[discontinued_date] [date] NULL,
	[reorder_point] [smallint] NOT NULL,
	[reorder_quantity] [smallint] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[purchase_order_lines] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_order_lines](
	[purchase_order_line_id] [nvarchar](50) NOT NULL,
	[purchase_order_id] [nvarchar](50) NOT NULL,
	[line_number] [tinyint] NOT NULL,
	[product_id] [nvarchar](50) NOT NULL,
	[quantity_ordered] [smallint] NOT NULL,
	[unit_cost] [float] NOT NULL,
	[line_total] [float] NOT NULL,
	[quantity_received] [float] NULL,
 CONSTRAINT [PK_purchase_order_lines] PRIMARY KEY CLUSTERED 
(
	[purchase_order_line_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[purchase_orders] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_orders](
	[purchase_order_id] [nvarchar](50) NOT NULL,
	[supplier_id] [nvarchar](50) NOT NULL,
	[warehouse_id] [nvarchar](50) NOT NULL,
	[order_date] [date] NOT NULL,
	[expected_delivery_date] [date] NOT NULL,
	[actual_delivery_date] [date] NULL,
	[po_status] [nvarchar](50) NOT NULL,
	[subtotal] [float] NOT NULL,
	[freight_cost] [float] NOT NULL,
	[total_amount] [float] NOT NULL,
 CONSTRAINT [PK_purchase_orders] PRIMARY KEY CLUSTERED 
(
	[purchase_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[returns] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[returns](
	[return_id] [nvarchar](50) NOT NULL,
	[shipment_id] [nvarchar](50) NOT NULL,
	[sales_order_line_id] [nvarchar](50) NOT NULL,
	[return_date] [date] NOT NULL,
	[returned_quantity] [tinyint] NOT NULL,
	[return_reason] [nvarchar](50) NOT NULL,
	[return_condition] [nvarchar](50) NOT NULL,
	[restocking_fee_rate] [float] NOT NULL,
	[refund_amount] [float] NOT NULL,
 CONSTRAINT [PK_returns] PRIMARY KEY CLUSTERED 
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[sales_order_lines] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_order_lines](
	[sales_order_line_id] [nvarchar](50) NOT NULL,
	[sales_order_id] [nvarchar](50) NOT NULL,
	[line_number] [tinyint] NOT NULL,
	[product_id] [nvarchar](50) NOT NULL,
	[quantity] [tinyint] NULL,
	[unit_price] [float] NOT NULL,
	[discount_rate] [float] NULL,
	[line_subtotal] [float] NOT NULL,
	[discount_amount] [float] NOT NULL,
	[line_total] [float] NOT NULL,
 CONSTRAINT [PK_sales_order_lines] PRIMARY KEY CLUSTERED 
(
	[sales_order_line_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[sales_orders] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_orders](
	[sales_order_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[warehouse_id] [nvarchar](50) NOT NULL,
	[order_date] [date] NULL,
	[order_status] [nvarchar](50) NOT NULL,
	[sales_channel] [nvarchar](50) NOT NULL,
	[subtotal] [float] NOT NULL,
	[discount_total] [float] NOT NULL,
	[tax_rate] [float] NOT NULL,
	[tax_amount] [float] NOT NULL,
	[shipping_cost] [float] NOT NULL,
	[total_amount] [float] NOT NULL,
 CONSTRAINT [PK_sales_orders] PRIMARY KEY CLUSTERED 
(
	[sales_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[shipments] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipments](
	[shipment_id] [nvarchar](50) NOT NULL,
	[sales_order_id] [nvarchar](50) NOT NULL,
	[warehouse_id] [nvarchar](50) NOT NULL,
	[ship_date] [date] NOT NULL,
	[expected_delivery_date] [date] NOT NULL,
	[actual_delivery_date] [date] NULL,
	[carrier] [nvarchar](50) NOT NULL,
	[shipping_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_shipments] PRIMARY KEY CLUSTERED 
(
	[shipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[supplier_invoices] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier_invoices](
	[supplier_invoice_id] [nvarchar](50) NOT NULL,
	[purchase_order_id] [nvarchar](50) NOT NULL,
	[supplier_id] [nvarchar](50) NOT NULL,
	[invoice_date] [date] NOT NULL,
	[due_date] [date] NOT NULL,
	[invoice_amount] [float] NOT NULL,
	[amount_paid] [float] NOT NULL,
	[balance_due] [float] NOT NULL,
	[invoice_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_supplier_invoices] PRIMARY KEY CLUSTERED 
(
	[supplier_invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[supplier_payments] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier_payments](
	[supplier_payment_id] [nvarchar](50) NOT NULL,
	[supplier_invoice_id] [nvarchar](50) NOT NULL,
	[payment_date] [date] NOT NULL,
	[payment_amount] [float] NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_supplier_payments] PRIMARY KEY CLUSTERED 
(
	[supplier_payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[suppliers] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [nvarchar](50) NOT NULL,
	[supplier_name] [nvarchar](50) NOT NULL,
	[supplier_reliability_tier] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[lead_time_days_mean] [tinyint] NOT NULL,
	[avg_defect_rate] [float] NOT NULL,
	[default_payment_term_days] [tinyint] NOT NULL,
	[supplier_since] [date] NOT NULL,
 CONSTRAINT [PK_suppliers] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[support_tickets] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[support_tickets](
	[support_ticket_id] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](50) NOT NULL,
	[related_sales_order_id] [nvarchar](50) NULL,
	[related_shipment_id] [nvarchar](50) NULL,
	[related_invoice_id] [nvarchar](50) NULL,
	[created_at] [date] NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[priority] [nvarchar](50) NOT NULL,
	[ticket_text] [nvarchar](100) NOT NULL,
	[sentiment] [nvarchar](50) NOT NULL,
	[resolution_time_hours] [float] NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_support_tickets] PRIMARY KEY CLUSTERED 
(
	[support_ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[warehouses] Fecha de script: 14/09/2026 10:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouses](
	[warehouse_id] [nvarchar](50) NOT NULL,
	[warehouse_name] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[capacity_units] [int] NOT NULL,
 CONSTRAINT [PK_warehouses] PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[inventory_snapshots]  WITH CHECK ADD  CONSTRAINT [FK_inventory_snapshots_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[inventory_snapshots] CHECK CONSTRAINT [FK_inventory_snapshots_products]
GO
ALTER TABLE [dbo].[inventory_snapshots]  WITH CHECK ADD  CONSTRAINT [FK_inventory_snapshots_warehouses] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[inventory_snapshots] CHECK CONSTRAINT [FK_inventory_snapshots_warehouses]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_customers]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_sales_orders] FOREIGN KEY([sales_order_id])
REFERENCES [dbo].[sales_orders] ([sales_order_id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_sales_orders]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_invoices] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_invoices]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_suppliers] FOREIGN KEY([primary_supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_suppliers]
GO
ALTER TABLE [dbo].[purchase_order_lines]  WITH CHECK ADD  CONSTRAINT [FK_purchase_order_lines_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[purchase_order_lines] CHECK CONSTRAINT [FK_purchase_order_lines_products]
GO
ALTER TABLE [dbo].[purchase_order_lines]  WITH CHECK ADD  CONSTRAINT [FK_purchase_order_lines_purchase_orders] FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[purchase_orders] ([purchase_order_id])
GO
ALTER TABLE [dbo].[purchase_order_lines] CHECK CONSTRAINT [FK_purchase_order_lines_purchase_orders]
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD  CONSTRAINT [FK_purchase_orders_suppliers] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[purchase_orders] CHECK CONSTRAINT [FK_purchase_orders_suppliers]
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD  CONSTRAINT [FK_purchase_orders_warehouses] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[purchase_orders] CHECK CONSTRAINT [FK_purchase_orders_warehouses]
GO
ALTER TABLE [dbo].[returns]  WITH CHECK ADD  CONSTRAINT [FK_returns_sales_order_lines] FOREIGN KEY([sales_order_line_id])
REFERENCES [dbo].[sales_order_lines] ([sales_order_line_id])
GO
ALTER TABLE [dbo].[returns] CHECK CONSTRAINT [FK_returns_sales_order_lines]
GO
ALTER TABLE [dbo].[returns]  WITH CHECK ADD  CONSTRAINT [FK_returns_shipments] FOREIGN KEY([shipment_id])
REFERENCES [dbo].[shipments] ([shipment_id])
GO
ALTER TABLE [dbo].[returns] CHECK CONSTRAINT [FK_returns_shipments]
GO
ALTER TABLE [dbo].[sales_order_lines]  WITH CHECK ADD  CONSTRAINT [FK_sales_order_lines_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[sales_order_lines] CHECK CONSTRAINT [FK_sales_order_lines_products]
GO
ALTER TABLE [dbo].[sales_order_lines]  WITH CHECK ADD  CONSTRAINT [FK_sales_order_lines_sales_orders] FOREIGN KEY([sales_order_id])
REFERENCES [dbo].[sales_orders] ([sales_order_id])
GO
ALTER TABLE [dbo].[sales_order_lines] CHECK CONSTRAINT [FK_sales_order_lines_sales_orders]
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD  CONSTRAINT [FK_sales_orders_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[sales_orders] CHECK CONSTRAINT [FK_sales_orders_customers]
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD  CONSTRAINT [FK_sales_orders_warehouses] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[sales_orders] CHECK CONSTRAINT [FK_sales_orders_warehouses]
GO
ALTER TABLE [dbo].[shipments]  WITH CHECK ADD  CONSTRAINT [FK_shipments_sales_orders] FOREIGN KEY([sales_order_id])
REFERENCES [dbo].[sales_orders] ([sales_order_id])
GO
ALTER TABLE [dbo].[shipments] CHECK CONSTRAINT [FK_shipments_sales_orders]
GO
ALTER TABLE [dbo].[shipments]  WITH CHECK ADD  CONSTRAINT [FK_shipments_warehouses] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[shipments] CHECK CONSTRAINT [FK_shipments_warehouses]
GO
ALTER TABLE [dbo].[supplier_invoices]  WITH CHECK ADD  CONSTRAINT [FK_supplier_invoices_purchase_orders] FOREIGN KEY([purchase_order_id])
REFERENCES [dbo].[purchase_orders] ([purchase_order_id])
GO
ALTER TABLE [dbo].[supplier_invoices] CHECK CONSTRAINT [FK_supplier_invoices_purchase_orders]
GO
ALTER TABLE [dbo].[supplier_invoices]  WITH CHECK ADD  CONSTRAINT [FK_supplier_invoices_suppliers] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[supplier_invoices] CHECK CONSTRAINT [FK_supplier_invoices_suppliers]
GO
ALTER TABLE [dbo].[supplier_payments]  WITH CHECK ADD  CONSTRAINT [FK_supplier_payments_supplier_invoices] FOREIGN KEY([supplier_invoice_id])
REFERENCES [dbo].[supplier_invoices] ([supplier_invoice_id])
GO
ALTER TABLE [dbo].[supplier_payments] CHECK CONSTRAINT [FK_supplier_payments_supplier_invoices]
GO
ALTER TABLE [dbo].[support_tickets]  WITH CHECK ADD  CONSTRAINT [FK_support_tickets_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[support_tickets] CHECK CONSTRAINT [FK_support_tickets_customers]
GO
ALTER TABLE [dbo].[support_tickets]  WITH CHECK ADD  CONSTRAINT [FK_support_tickets_invoices] FOREIGN KEY([related_invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[support_tickets] CHECK CONSTRAINT [FK_support_tickets_invoices]
GO
ALTER TABLE [dbo].[support_tickets]  WITH CHECK ADD  CONSTRAINT [FK_support_tickets_sales_orders] FOREIGN KEY([related_sales_order_id])
REFERENCES [dbo].[sales_orders] ([sales_order_id])
GO
ALTER TABLE [dbo].[support_tickets] CHECK CONSTRAINT [FK_support_tickets_sales_orders]
GO
ALTER TABLE [dbo].[support_tickets]  WITH CHECK ADD  CONSTRAINT [FK_support_tickets_shipments] FOREIGN KEY([related_shipment_id])
REFERENCES [dbo].[shipments] ([shipment_id])
GO
ALTER TABLE [dbo].[support_tickets] CHECK CONSTRAINT [FK_support_tickets_shipments]
GO
USE [master]
GO
